!scratch-vm/src/extension-support/extension-manager.js
!scratch-gui/src/lib/libraries/extensions/index.jsx

env/scratch-vm/*
env/scratch-gui/*

# get icarus files
!env/scratch-vm/src
env/scratch-vm/src/*

!env/scratch-vm/src/extensions
env/scratch-vm/src/extensions/*

!env/scratch-vm/src/extensions/icarus

# get manager file
!env/scratch-vm/src/extension-support
env/scratch-vm/src/extension-support/*

!env/scratch-vm/src/extension-support/extension-manager.js

# get gui file
!env/scratch-gui/src
env/scratch-gui/src/*

!env/scratch-gui/src/lib
env/scratch-gui/src/lib/*

!env/scratch-gui/src/lib/libraries
env/scratch-gui/src/lib/libraries/*

!env/scratch-gui/src/lib/libraries/extensions
env/scratch-gui/src/lib/libraries/extensions/*

!env/scratch-gui/src/lib/libraries/extensions/index.jsx
